{% extends 'DAMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('angular/bower_components/semantic-ui-calendar/dist/calendar.min.css') }}"/>
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block facebook %}

    {% if page.seo %}
        <meta property="og:title" content="{{ page.seo.title ? page.seo.title : page.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ media(page.seo.socialImage,'original') }}" />
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
        <meta property="og:description" content="{{ page.seo.socialDescription }}" />

        {% if  page.seo.imageSize == 1 %}
            <meta property="og:image:width" content="200" >
            <meta property="og:image:height" content="200" >
        {% elseif page.seo.imageSize == 2 %}
            <meta property="og:image:width" content="400" >
            <meta property="og:image:height" content="400" >
        {% else %}
            <meta property="og:image:width" content="200" >
            <meta property="og:image:height" content="200" >
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock  %}

{% block seo %}
    {% if page.seo %}
        <meta name="description" content="{{ page.seo.description }}">
        <meta name="keywords" content="{{ page.seo.keywords }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock seo %}
{% block body %}
    <div class="path_block">
        <div class="container">
            {% set slug = app.request.attributes.get('slug') %}
            <ul>
                <li class="link">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="{{ path('home_page',{'_locale':app.request.attributes.get('_locale')}) }}">
                        {{ 'home' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ 'transport' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ page.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_banner_block" style="background: url('{{ media(page.bannerImage) }}') no-repeat;background-size: cover;background-position: center center;">
        <div class="container">
            <div class="content">
                <h1>{{ page.bannertitle }}</h1>
                <p>{{ page.bannerDescription }}</p>
            </div>
        </div>
    </div>

    <div class="filter_block">
        <form class="controls" id="Filters">
            <div class="container clear">
                <ul class="carRentFilter clear">
                    <li class="filter checkbox" id="Reset">
                        <input type="checkbox" value=".all"/>
                        <label>{{ 'all' | trans({}, 'messages') }}</label>
                    </li>
                    {% for type in carType %}
                        <li class="filter checkbox">
                            <input type="checkbox" value=".{{ type | lower }}"/>
                            <label>{{ type | upper }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>

    <div class="car_rent_block">
        <div class="container clear" id="Container">
            {% for item in objects %}
                <div class="car_block mix {{ item.type }}">
                    <div class="image_block">
                        <img src="{{ media(item.image) }}" alt="">
                    </div>
                    <div class="car_info_block car{{ item.id }}">
                        <div class="car_title">
                            {{ item.name }}
                        </div>
                        <div class="properties">
                            <ul>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ item.type }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ 'door' | trans({door:item.door}, 'messages') }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ 'transmission' | trans({trans:item.transmission}, 'messages') }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ item.motor | trans({}, 'messages') }}</li>
                            </ul>
                        </div>
                        <div class="price_block clear">
                            {% for i,pri in item.priceList %}
                                <div class="price clear">
                                    <span class="left_block">{{ i | trans({}, 'messages')}}</span>
                                    {% set price = pri / change[1] %}
                                    <span class="right_block {{ i }}" data-price="{{ pri }}">{{  price | round(0, 'ceil') | number_format(0, '', ',') }}{{ localizedcurrency(change[0]) }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="send_request openmodal">
                        <button class="addd"
                                data-type="rent_car"
                                data-id="{{ item.id }}"
                                data-price="0"
                                data-name="{{ item.name }}"
                                data-hovertext="{{ 'add_to_cart' | trans({}, 'messages') }}">
                            {{ 'send_request' | trans({}, 'messages') }}
                        </button>
                    </div>

                </div>
            {% endfor %}
            <div class="no_result cd-fail-message">
                <span>{{ 'no_result' | trans({}, 'messages') }}</span>
            </div>
        </div>

    </div>
    <div class="ui  modal orderModal first">
        <i class="close icon"></i>
        <div class="content modalContent">
            <div class="request_form_block clear">
                <div class="input_block">
                    <label for="setFrom">{{ 'setFrom' | trans({}, 'messages') }}</label>
                    <div class="ui calendar" id="setFrom">
                        <input type="text" placeholder="Date/Time">
                    </div>
                </div>
                <div class="input_block">
                    <label for="setFrom">{{ 'setTo' | trans({}, 'messages') }}</label>
                    <div class="ui calendar" id="setTo">
                        <input type="text" placeholder="Date/Time">
                    </div>
                </div>
                <div class="input_block visitor">
                    <label for="setFrom">{{ 'visitors' | trans({}, 'messages') }}</label>
                    <div class="ui" id="visitors">
                        <input type="number" min="1" name="visitors" />
                    </div>
                </div>
                <div class="add_cart_block">
                    <button class="add_to_cart">
                        {{ 'add_to_cart' | trans({}, 'messages') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/damain/js/transition.js') }}"></script>
    <script src="{{ asset('angular/bower_components/semantic-ui-calendar/dist/calendar.min.js') }}"></script>
    <script src="{{ asset('bundles/damain/js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('bundles/damain/js/main.js') }}"></script>
    <script>
        var buttontext = $('.car_block:first-of-type .send_request button').text();
        $('.send_request button').hover(function () {
            console.log('asd');
            var text = $(this).data('hovertext');
            $(this).text(text);
        },function(){
            $(this).text(buttontext);
        });
    </script>
{% endblock %}