{% extends '::base.html.twig' %}
{% form_theme form 'AdsMainBundle:Form:form_div_layout.html.twig' %}

{% block contentTitle %}
    {{ 'change_password_title' | trans({}, 'user') }}
{% endblock %}
{% block body %}
{% block login %}

    <div class="short-form" ng-controller="adsController">

        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="clearfix fos_user_change_password" enctype="multipart/form-data" yi-prevent-default>

            {{ form_row(form.current_password) }}

            <div class="row form-group">

                <div class="col-sm-3">
                    <div class="horizontal-label">
                        <em class="glyphicon glyphicon-chevron-right"></em>
                        {{- form_label(form.new.first,  null, { 'label_attr': {'class': 'control-label'}}) -}}
                    </div>
                </div>

                <div class="col-sm-3">
                    {{ form_widget(form.new.first, { 'attr': {'class':'form-control'}}) }}

                    <span class="text-danger">{{ form_errors(form.new.first) }}</span>

                    <span data-placement="right"
                          bs-popover="popover"
                          class="info-tooltip">
                      <a class="glyphicon glyphicon-info-sign"
                         data-title="Պայմաններ"
                         data-placement="top"
                         data-animation="am-flip-x"
                         bs-tooltip>
                      </a>
                    </span>
                </div>

                <div class="col-sm-6"></div>
            </div>

            {{ form_row(form.new.second) }}

            <div class="shortbottom">
                <div class=" btn-group btn-group-sm">
                    {{ form_rest(form) }}
                    <input type="submit" class="btn btn-border" value="Պահպանել" />
                    <button  type="button" class="btn">Փակել</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
    {{ render(controller('TravelMainBundle:Main:interested', { '_locale': app.request.attributes.get('_locale') })) }}
    {% set currentPath = app.request.schemeAndHttpHost ~ app.request.requestUri %}
    <div class="share_block">
        <div class="section_small_title">
            {{ 'share_title' | trans({}, 'messages') }}
        </div>
        <div class="container">
            <ul class="social">
                <li><a href="http://www.facebook.com/share.php?u={{ currentPath }}&title=Confirmed" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://twitter.com/intent/tweet?status=Confirmed+{{ currentPath }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

