{% extends 'DAMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block facebook %}

    {% if page.seo %}
        <meta property="og:title" content="{{ page.seo.title ? page.seo.title : page.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ media(page.seo.socialImage,'original') }}" />
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
        <meta property="og:description" content="{{ page.seo.socialDescription }}" />

        {% if  page.seo.imageSize == 1 %}
            <meta property="og:image:width" content="200" >
            <meta property="og:image:height" content="200" >
        {% elseif page.seo.imageSize == 2 %}
            <meta property="og:image:width" content="400" >
            <meta property="og:image:height" content="400" >
        {% else %}
            <meta property="og:image:width" content="200" >
            <meta property="og:image:height" content="200" >
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock  %}

{% block seo %}
    {% if page.seo %}
        <meta name="description" content="{{ page.seo.description }}">
        <meta name="keywords" content="{{ page.seo.keywords }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock seo %}
{% block body %}
    <div class="path_block">
        <div class="container">
            {% set slug = app.request.attributes.get('slug') %}
            <ul>
                <li class="link">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="{{ path('home_page',{'_locale':app.request.attributes.get('_locale')}) }}">
                        {{ 'home' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ page.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_banner_block" style="background: url('{{ media(page.bannerImage) }}') no-repeat;background-size: cover;background-position: center center;">
        <div class="container">
            <div class="content">
                <h1>{{ page.bannertitle }}</h1>
                <p>{{ page.bannerDescription }}</p>
            </div>
        </div>
    </div>
    <div class="filter_block">
        <form class="controls" id="Filters">
            <div class="container clear">
                <ul class="carRentFilter clear">
                    <li class="filter checkbox" id="Reset">
                        <input type="checkbox" value=".all"/>
                        <label>{{ 'all' | trans({}, 'messages') }}</label>
                    </li>
                    {% for type in tourType %}
                        <li class="filter checkbox">
                            <input type="checkbox" value=".{{ type.name | lower |replace({' ':''}) }}"/>
                            <label>{{ type.title | upper }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>

    <div class="tour_block">
        <div class="container clear" id="Container">
            {% for item in objects %}
                <div class="tours_box mix {{ item.category | lower |replace({' ':''}) }}" style="background: url('{{ media(item.image) }}') no-repeat;background-size: cover;background-position: center center;">
                    <div class="overlay">
                        <div class="see_more">
                            {% for t in item.tour  %}
                                <a href="{{ path('tour_single',{id:t.id,slug:item.slug}) }}" class="item">
                                    {% if t.weekend %}
                                        {{ 'weekend' | trans({}, 'messages') }}
                                    {% else %}
                                        {{ t.dayCount }}
                                        {{ 'days' | trans({}, 'messages') }}
                                    {% endif %}

                                </a>
                            {% endfor %}
                        </div>
                        <div class="tours_title_block clear">
                            <div class="left_block">
                                <p>{{ item.title }}</p>
                            </div>
                            <div class="right_block">
                                <span>{{ 'from' | trans({}, 'messages') }}</span>
                                {% set price = item.price / change[1] %}
                                {{  price | round(0, 'ceil') | number_format(0, '', ',') }}{{ localizedcurrency(change[0]) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="no_result cd-fail-message">
                <span>{{ 'no_result' | trans({}, 'messages') }}</span>
            </div>
            {#<div class="see_next_block">
                <button>
                    {{ 'see_next' | trans({}, 'messages') }} {{ page.title }}
                </button>
            </div>#}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/damain/js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('bundles/damain/js/main.js') }}"></script>
    <script src="{{ asset('bundles/damain/js/transition.js') }}"></script>
{% endblock %}